<div id="container" style="height: 400px; min-width: 600px"></div>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
$(function() {
   var chart = new Highcharts.Chart({
     chart: {
      renderTo: 'container',
      type: 'column'
     },
     title: {
       text: "Clientes que Perdemos"
     },
     legend: {
       enabled: false
      },
      rangeSelector: {
        selected: 1
      },
      series: [{
        pointStart: <%= Date::MONTHNAMES.each {|mes| mes}%>
        data: [1,2 ,3,4,5,6]
      }]
    });
  });
</script>
