<script type="text/javascript">
  $(document).ready(function(){
    codigo.focus();
    setInterval(marcarFalta, 300000);//a cada 5min = 300000
  });
  function marcarFalta(){
    $.ajax({
      url: "/registro_presenca/marcar_falta"
    });
  }
</script>
<div class="registro_presenca">
  <div class="message-error"><%= flash[:error] if flash[:error] %></div>
  <%= form_tag('/registro_presenca/registrar', :method => "post") %>
  <p><strong>Código de Acesso</strong><%= text_field_tag "codigo" %></p>
  <%= submit_tag "Registrar" %>
</div>
