<div id="content-info">
  <div id="content-image">
    <div id="aluno">
      <% if not @aluno.foto.blank? %>
        <img id="foto_aluno" src="<%= @aluno.foto %>" />
      <% end %>
      <% if (hora = Time.now.hour) < 12.hours %>
        Bom Dia
      <% elsif hora > 12.hours and hora < 18.hours %>
        Boa Tarde
      <% else %>
        Boa Noite
      <% end %>
      <%= @aluno.nome %>!
    </div>
  </div>
  <div id="message"><%= flash[:notice] if not flash[:notice].blank? %></div>
</div>
