<script type="text/javascript">
   $('#signed-in').show('fade',1000);
   setTimeout("$('#signed-in').slideUp();", 5000);
</script>
<% if flash[:notice] %>
  <div id="signed-in"><%= flash[:notice] %></div>
<% end %>
<div id="agenda">
  <strong><div id="titulo_agenda">Agenda do Dia</div></strong>
  <div id="horarios">
    <% if @agenda_do_dia.blank? %>
    <div id="sem_horas">Nenhum Horário Cadastrado para Hoje</div>
    <% else %>
      <ul>
        <% @agenda_do_dia.each do |agenda|%>
          <li><%= agenda.horario %>h - <%= agenda.matricula.aluno.nome rescue agenda.aluno.nome %><div class="status_presenca"><%= presenca(agenda.matricula.aluno.id) rescue presenca(agenda.aluno.id) %></div></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<i></i>
