<script type="text/javascript">
   $('.message-error').show('fade',1000);
   setTimeout("$('.message-error').hide('fade',1000);", 5000);
   $(document).ready(function() { nome.focus(); });
</script>
<% if flash[:error] %>
  <div class="message-error border"><%= flash[:error] %></div>
  <% flash[:error] = nil %>
<% end %>
<div id="auth-aluno">
  <h2>Entrar</h2>
  <form action="show" method="get" accept-charset="utf-8">
    <label for="nome">Nome:<label>
    <p><%= text_field_tag "nome" %></p>
    <label for="codigo_de_acesso">Código de acesso:<label>
    <p><%= text_field_tag "codigo_de_acesso" %></p>

    <p><input type="submit" value="Entrar"/></p>
  </form>
</div>
