/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require active_scaffold
 */
body{
  margin: 0;
}
#top{
  height: 100px;
  background: rgb(237, 247, 247);
  border: 2px solid rgb(95, 201, 221);
  margin-bottom: 15px;
}
#top .menu{
  margin: 77px auto;
  white-space: nowrap;
}
.menu ul {
  margin: 0 auto;
  list-style: none;
}
.menu ul li {
  float: left;
  margin: 0 5px;
}
.menu ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: black;
  padding: 1px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
.menu li a.selected,
.menu li a:hover {
  color: #000;
  background: #fff;
}
#agenda{
  width:400px;
  background: rgba(237, 247, 247, 0.5);
  margin:5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
}
#horarios ul li {
  font-size: 16px;
  padding: 3px;
}
i{
  display:block;
  clear:both
}
#agenda #titulo_agenda {
  text-align: center;
  font-size: 18px;
}
#sem_horas{
  text-align: center;
  font-size: 12px;
}
#logo{
  width: 294px;
  float: left;
  padding: 12px;
}
#login{
  float: right;
}
#login a:visited{
  color: black;
  background: white;
}
#login a{
  padding: 1px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
#foto_aluno {
  max-height: 128px;
  max-width: 128px;
  margin: 20px 0px -79px 60px;
  padding: 5px;
}
#aluno {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  margin-left: 150px;
  vertical-align: middle;
}
#content-info {
  width: 700px;
  background: rgba(237, 247, 247, 0.5);
  margin: 5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
}
#content-image {
  width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(95, 201, 221);
}
.id {
  font-weight: bold;
  font-size: 24px;
}
.message-notice {
  color: #00b050;
}
.message-error {
  color: red;
}
.message-error, .message-notice {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-style: italic;
}
.message-notice {
  margin-left: 150px;
}
.registro_presenca, #sign_in, #forgot_pass, #sign_up {
  width: 250px;
  background: rgba(237, 247, 247, 0.5);
  margin: 5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
}
#novo-registro {
  width: 100px;
  margin: 0 auto;
}
#signin-invalid, #signed-in {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  font-size: 111%;
  padding: 1%;
  border: 1px solid lightblue;
  border-radius: 30px 30px 30px 30px;
}
#signin-invalid {
  color: red;
}
#signed-in {
  color: #00b050;
}
