/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require active_scaffold
 */
body{
  margin: 0;
}
#top{
  height: 100px;
  background: rgb(237, 247, 247);
  border: 2px solid rgb(95, 201, 221);
  margin-bottom: 15px;
}
#top .menu{
  margin: 77px auto;
  white-space: nowrap;
}
.menu ul {
  margin: 0 auto;
  list-style: none;
}
.menu ul li {
  float: left;
  margin: 0 5px;
}
.menu ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: black;
  padding: 1px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
.menu li a.selected,
.menu li a:hover {
  color: #000;
  background: #fff;
}
.menu li ul {
  display: none;
  background-color: #EDF7F7;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.menu li ul li {
  float: none;
}
.menu li:hover ul {
  display: block;
}
#agenda {
  width:420px;
}
#aniversariantes {
  width:400px;
}
#aniversariantes,
#agenda{
  background: rgba(237, 247, 247, 0.5);
  margin:5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
}
#title-aniversariantes {
  width: 394px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 30px 30px 0px 0px;
  padding: 5px;
  font-weight: bold;
}
.aniver-title {
  border: 1px solid black;
  text-align: center;
  border-radius: 30px 0px 30px 0px;
  padding: 2px;
}
#horarios ul li {
  font-size: 16px;
  padding: 5px;
}
#horarios tr td a:visited {
  color: black;
}
#horarios tr td a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: black;
}
i{
  display:block;
  clear:both
}
#titulo_agenda {
  padding: 6px;
  text-align: center;
  font-size: 18px;
}
#sem_horas{
  text-align: center;
  font-size: 12px;
}
#logo{
  width: 294px;
  float: left;
  padding: 12px;
}
#login{
  float: right;
}
#login a:visited{
  color: black;
  background: white;
}
#login a{
  padding: 1px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
#foto_aluno {
  max-height: 128px;
  max-width: 128px;
  margin: 20px 0px -79px 60px;
  padding: 5px;
}
#aluno {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  margin-left: 150px;
  vertical-align: middle;
}
#content-info {
  width: 700px;
  background: rgba(237, 247, 247, 0.5);
  margin: 5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
}
#content-image {
  width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(95, 201, 221);
}
.id {
  font-weight: bold;
  font-size: 24px;
}
.message-error, .message-notice {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-style: italic;
}
.message-notice {
  color: #00b050;
  margin-left: 150px;
}
.message-error {
  color: red;
}
.border {
  width: 250px;
  background: rgba(237, 247, 247, 0.5);
  margin: 5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
}
.registro_presenca, #sign_in, #forgot_pass, #sign_up, #reset_password {
  width: 250px;
  background: rgba(237, 247, 247, 0.5);
  margin: 5px auto;
  border: 2px solid rgb(95, 201, 221);
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
}
#novo-registro {
  width: 100px;
  margin: 0 auto;
}
#signin-invalid, #signed-in {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  font-size: 111%;
  padding: 1%;
  border: 1px solid lightblue;
  border-radius: 30px 30px 30px 30px;
}
#signin-invalid {
  color: red;
}
#signed-in {
  color: #00b050;
}
.status_presenca {
  float: right;
}
.filtros {
  margin: 0 auto;
}
.mes{
  width: 350px;
}
.periodo {
  width: 575px;
}
.titulo_dia {
  border: 1px solid black;
  font-weight: bold;
  background-color: lightgray;
  padding: 2px;
  text-align: center;
  width: 414px !important;
}
#horarios tr td:nth-child(1) {
  width: 110px;
  white-space: nowrap;
}
.foto-input, .carrierwave_controls img {
  margin-bottom: 10px;
}
#aniversariantes li {
  list-style-image: url("/assets/aniversario.png");
  margin-top: 5px;
}
#quadro_de_horarios h2 {
  text-align: center;
}
#quadro_de_horarios table {
  width: 700px;
}
#quadro_de_horarios {
  width: 705px;
  margin: 0 auto;
}
#quadro_de_horarios th,
#quadro_de_horarios table tr td {
  border: 1px solid black;
  padding: 3px;
  width: 14%;
}
.vip, .horario_ocupado {
  background-color: #D99694;
}
.horario_disponivel {
  background-color: #DAFFCD;
}
.horario_disponivel, .horario_ocupado, .vip {
  text-align: center;
}
#presencas_table th,
#presencas_table table tr td {
  padding: 4px;
}
#presencas_table table thead tr th {
  color: white;
  font-size: 12px;
}
#horarios table img {
  margin-right: 20px;
  margin-left: -20px;
}
#horarios table img.realocacao {
  margin-right: 0;
}
#horarios.compact table span,
#horarios.compact table img {
  display: none;
}
#horarios.compact table div {
  display: inline;
}
#horarios.compact table div:after {
  content: "/";
}
#horarios.compact table div:nth-last-child(1):after {
  content: ""
}
#horarios table td {
  vertical-align: top;
}
.periodo .data, #compactar_nomes, #display_names {
  vertical-align: middle;
  margin: 0px;
}
#quadro_de_horarios #displayN,
.periodo #compactar {
  cursor: pointer;
}
#input_compactar_nomes {
  width: 155px;
  margin: 0 auto;
  white-space: nowrap;
}
.nome_do_aluno {
  height: 20px;
}
.nome_do_aluno:hover {
  text-decoration: underline;
  cursor: pointer;
}
#quadro_de_horarios .alunos {
  display: none;
}
#quadro_de_horarios .alunos.exibir {
  display: block;
  font-style: italic;
}
#quadro_de_horarios .status.exibir {
  display: none;
}
