<p>Olá <%= @resource.email %>!</p>

<p>Foi requerida alteração de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requereu isso, porfavor ignore esse email.</p>
<p>Sua senha não será alterada até você acessar o link abaixo e criar uma nova.</p>
