<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou o link para alterar sua senha, e você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Alterar senha', 'http://magnus.invent.to/users/reset_password_edit?reset_password_token=' + @resource.reset_password_token %></p>
<p>Se você não requisitou esse e-mail, por favor apenas ignore.</p>
<p>Sua senha não será alterada até que você acesse o link acima.</p>
